# Ignore everything
*
src/main/resources/META-INF

# But not these files...
!.gitignore
!src/main/java/*
!src/main/resources/*

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*